﻿
@{
    ViewBag.Title = "Inicio";
}

<h2>Hola @ViewData["username"]</h2>
@if (Array.IndexOf(ViewData["roles"] as string[], "Admin") >= 0)
{
    @Html.ActionLink("Page1", "Page1", "Pages", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" }) <br /><br />
    @Html.ActionLink("Page2", "Page2", "Pages", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" }) <br /><br />
    @Html.ActionLink("Page3", "Page3", "Pages", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" }) <br /><br />

}
else
{
    foreach (var role in ViewData["roles"] as string[])
    {@Html.ActionLink(role, role, "Pages", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" }) <br /><br />}

}
