﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="width: 100%;">
                @Html.ActionLink("Schibsted - Application", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @if (ViewData["username"] != null)
                {
                    @Html.ActionLink("Inicio", "Index", "Pages", new { area = "" }, new { @class = "navbar-brand" })
                }
                @Html.ActionLink("Page 1", "Page1", "Pages", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Page 2", "Page2", "Pages", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Page 3", "Page3", "Pages", new { area = "" }, new { @class = "navbar-brand" })

                @if (ViewData["username"] != null)
                {
                    <div style="float:right">
                        @Html.ActionLink("Cerrar Sesión", "logOut", "Pages", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                }
            </div>
            <div class="navbar-collapse collapse">



                
            </div>
            </div>
    </div>
    <div class="container body-content">
        @if(ViewData["error"] != null)
        {
            <div class="alert alert-danger  show" role="alert">
                <strong>@ViewData["msg"]</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
         }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Devoto Federico</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
